/venv
.env 
*.sqlite3
Docs

# Python bytecode
**/__pycache__/
*.py[cod]
*$py.class

# Outros arquivos comuns de sistema/IDE
.DS_Store
.vscode/
.idea/

# Django Migrations
**/migrations/*.py
!**/migrations/__init__.py